body {
    padding: 60px 30px 100px;
    background-color: azure;
}

input::placeholder {
    font-family: "Catamaran", sans-serif;
    font-size: 17px;
    opacity: 0.5;
}

.container {
    box-sizing: border-box;
    border: 5px solid #4db156;
    border-radius: 4px;
    padding: 40px 45px 25px 45px;
    max-width: 625px;
    background-image: url(/images/sky.jpg);
    background-size: 200%;
}

.city-name {
    padding: 20px 10px 0px 0px;
    font-size: 35px;
    font-weight: bolder;
    font-family: sans-serif;
}

.city-input {
    border: 3px solid #006ec5;
    font-family: "Catamaran", sans-serif;
    font-size: 17px;
    color: #263eaa;
}

.search-button {
    border: 3px solid #006ec5;
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
    transition: all 200ms;
    background-color: aliceblue;
    margin: 0px 15px 0px 0px;
}
.search-button:hover {
    border: 3px solid #006ec5;
    border-radius: 2px;
    background-color: rgb(190, 211, 220);
}

.date-time {
    padding-top: 34px;
    text-align: end;
    font-weight: bold;
    font-size: 18px;
}

.description {
    display: block;
    font-weight: lighter;
    font-size: smaller;
}

.description:first-letter {
    text-transform: capitalize;
}

.main-icon {
    margin: 0px 0px 0px 38px;
    width: 100px;
    padding: 0%;
}

.current-temperature {
    font-size: 52px;
    font-weight: bold;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 10px 0px 0px 0px;
    width: fit-content;
}

.units {
    padding: 10px 0px 0px 6px;
}

.units .active {
    color: rgb(33, 33, 33);
    cursor: default;
}

.details-temperature {
    text-align: end;
    padding: 15px 0px 15px 0px;
    font-size: 15px;
    font-family: sans-serif;
}

.main-info {
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 5px;
}

.author {
    text-align: right;
    font-family: "Kalam", cursive;
    font-style: italic;
    font-size: small;
    font-weight: bold;
    padding: 10px 0px 0 0px;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: #000;
}

.weather-forecast-date {
    font-size: 16px;
    opacity: 0.5;
}

.weather-forecast-temperature-min {
    opacity: 0.5;
}

.weather-forecast-temperatures {
    font-size: 13px;
}
