body {
    padding: 100px 30px 100px;
    background-color: azure;
}

input::placeholder {
    font-family: "Catamaran", sans-serif;
    font-size: 17px;
    opacity: 0.5;
}

h1 {
    font-family: "Madimi One", sans-serif;
    font-size: 50px;
}

.container {
    box-sizing: border-box;
    border-radius: 20px;
    padding: 100px 50px 15px;
    margin: 0px auto;
    max-width: 850px;
    background-image: url(/images/sky.jpg);
    background-size: 200%;
}

.city-name {
    padding: 20px 10px 0px 0px;
    font-size: 45px;
    font-weight: bolder;
    font-family: sans-serif;
}

.city-input {
    font-family: "Catamaran", sans-serif;
    font-size: 17px;
    color: #263eaa;
}

.search-button {
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
    transition: all 200ms;
    background-color: rgb(38, 117, 187);
    color: rgb(233, 227, 227);
    margin: 0px 15px 0px 10px;
}
.search-button:hover {
    border-radius: 2px;
    background-color: rgb(38, 117, 187);
    color: #000;
}

.date-time {
    padding-top: 34px;
    text-align: end;
    font-weight: bold;
    font-size: 18px;
}

.description {
    display: block;
    font-weight: lighter;
    font-size: normal;
}

.description:first-letter {
    text-transform: capitalize;
}

.main-icon {
    margin: -55px -29px 0px 10px;
    width: 157px;
    padding: 0%;
}

.current-temperature {
    font-size: 82px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 10px 0px 0px 0px;
    width: fit-content;
}

.units {
    padding: 10px 0px 0px 6px;
}

.details-temperature {
    text-align: end;
    padding: 15px 0px 15px 0px;
    font-size: 18px;
    font-family: sans-serif;
}

.main-info {
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 5px;
}

.first-info {
    padding: 25px 0px 15px 50px;
}

.second-info {
    padding: 40px 200px 25px 0px;
}

.author {
    text-align: right;
    font-family: "Kalam", cursive;
    font-style: italic;
    font-size: small;
    font-weight: bold;
    padding: 10px 0px 0 0px;
}

.weather-forecast {
    margin-top: 10px;
    text-align: center;
    color: #000;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 5px;
}

.weather-forecast-date {
    font-size: 16px;
    font-weight: bold;
    opacity: 1;
    text-transform: uppercase;
}

.weather-forecast-temperature-min {
    opacity: 0.5;
}

.weather-forecast-temperatures {
    font-size: 16px;
}
